# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python egg metadata
*.egg-info/
dist/
build/

# Logs
*.log
